# VacationPy

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Weather results into DataFrame
* Load the csv exported in Weather to a DataFrame

In [2]:
weatherPyCSV=pd.read_csv('../Weather/Weather_Data.csv')
weatherPyCSV

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,rikitea,-23.1203,-134.9692,71.01,67,19,4.70,PF,1627250911
1,saint anthony,45.0205,-93.2180,94.14,24,1,11.50,US,1627250912
2,acarau,-2.8856,-40.1200,78.55,75,15,15.55,BR,1627250912
3,norman wells,65.2820,-126.8329,68.31,57,87,15.39,CA,1627250913
4,husavik,66.0449,-17.3389,56.23,63,92,14.85,IS,1627250913
...,...,...,...,...,...,...,...,...,...
580,montague,42.5356,-72.5351,81.30,75,80,1.99,US,1627251182
581,bereznik,62.8551,42.7072,54.07,88,97,3.20,RU,1627251182
582,nizhniy kuranakh,58.8353,125.4869,62.24,81,70,1.57,RU,1627251183
583,kenora,49.8167,-94.4337,82.78,30,13,11.01,CA,1627251183
584,zhumadian,32.9794,114.0294,75.96,83,87,2.71,CN,1627251184

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = weatherPyCSV[["Lat", "Lng"]].astype(float)

# store humidity as weight
humidity = weatherPyCSV["Humidity"].astype(float)

# add heatmap layer to map
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=weatherPyCSV["Humidity"].max().astype(float),
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions:
        Temp between 65 and 80 F
        Cloudiness less than 5%
        Wind Speed less than 5mph
* Drop any rows will null values.

In [5]:
#drop any null values
cleanedWeather=weatherPyCSV.dropna()

#create data frame with temps between 65 and 80 degrees
idealWeather=cleanedWeather.loc[(cleanedWeather["Max Temp"]>65) & (cleanedWeather["Max Temp"]<80)]

#narrow down above data frame to also have cloudiness less than 5% and wind speed less than 5mph
idealWeatherDF=idealWeather.loc[(idealWeather["Cloudiness"]<5) & (idealWeather["Wind Speed"]<5)]

# display table
idealWeatherDF

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
49,ponta do sol,32.6667,-17.1000,77.00,84,0,4.18,PT,1627250932
72,erzin,36.9559,36.2000,79.52,74,0,2.24,TR,1627250943
130,namibe,-15.1961,12.1522,66.29,85,0,4.70,AO,1627250970
216,fuling,29.7022,107.3919,75.15,81,0,2.17,CN,1627251011
277,pringsewu,-5.3582,104.9744,68.83,90,2,1.43,ID,1627251039
394,kavala,40.9397,24.4019,79.84,47,0,3.00,GR,1627251094
395,xiaoweizhai,26.1903,107.5125,67.55,94,4,3.00,CN,1627251094
404,perisoru,44.4500,27.5500,66.20,74,0,4.32,RO,1627251098
436,pavlikeni,43.2428,25.3219,71.29,53,0,4.07,BG,1627251113
451,salmas,38.1973,44.7653,70.79,50,0,0.65,IR,1627251120
482,kenitra,34.2610,-6.5802,72.36,90,1,4.68,MA,1627251135

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels within 5000 km.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#reset index
hotel_df=idealWeatherDF[["City","Lat","Lng","Country"]].reset_index()

#add column for Hotel Name
hotel_df["Hotel Name"]=""
hotel_df

    index          City      Lat       Lng Country Hotel Name
0      49  ponta do sol  32.6667  -17.1000      PT
1      72         erzin  36.9559   36.2000      TR
2     130        namibe -15.1961   12.1522      AO
3     216        fuling  29.7022  107.3919      CN
4     277     pringsewu  -5.3582  104.9744      ID
5     394        kavala  40.9397   24.4019      GR
6     395   xiaoweizhai  26.1903  107.5125      CN
7     404      perisoru  44.4500   27.5500      RO
8     436     pavlikeni  43.2428   25.3219      BG
9     451        salmas  38.1973   44.7653      IR
10    482       kenitra  34.2610   -6.5802      MA

In [11]:
#set parameters
params={"radius":5000,"types":"lodging","key":g_key}

params["location"]=f"32.6667,-17.1000"
print(params)
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
name_address = requests.get(base_url, params=params).json()
print(name_address)

{'radius': 5000, 'types': 'lodging', 'key': 'AIzaSyAp81buGN4MRtFdMTYuw1g6-euA2_opZ_I', 'location': '32.6667,-17.1000'}
{'error_message': 'You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}

In [7]:
#set parameters
params={"radius":5000,"types":"lodging","key":g_key}

for index, row in hotel_df.iterrows():
    #add parameter for lat and lng
    params["location"]=f"{row['Lat']},{row['Lng']}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #send request
    name_address = requests.get(base_url, params=params).json()
    
    try:
        #store the name of the first hotel that is in the request response
        hotel_df.loc[index, 'Hotel Name'] = name_address['results'][0]['name']
        print(f"The hotel closest to  {hotel_df.loc[index, 'City'] } is {name_address['results'][0]['name']}.")
        
    except:
        #store N/A since no hotel was found
        hotel_df.loc[index, 'Hotel Name'] = "N/A"
        print(f"There is no hotel within 5000km of {hotel_df.loc[index, 'City']}.")

There is no hotel within 5000km of ponta do sol.
There is no hotel within 5000km of erzin.
There is no hotel within 5000km of namibe.
There is no hotel within 5000km of fuling.
There is no hotel within 5000km of pringsewu.
There is no hotel within 5000km of kavala.
There is no hotel within 5000km of xiaoweizhai.
There is no hotel within 5000km of perisoru.
There is no hotel within 5000km of pavlikeni.
There is no hotel within 5000km of salmas.
There is no hotel within 5000km of kenitra.

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))